<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>@ViewBag.Title - Education -  whiteCollor</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#"> whiteCollor | <i class="fa fa-graduation-cap" aria-hidden="true"></i>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://whitecc.azurewebsites.net/Home/Index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://whitecc.azurewebsites.net/Home/Home">Tutorial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://whitecc.azurewebsites.net/Home/Contact">Reference</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://whitecc.azurewebsites.net/Home/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://whitecc.azurewebsites.net/Home/signup">SignUp</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="color:#778899">&copy; @DateTime.Now.Year - whiteCollor Team|Education Theme</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
